<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>450533182221-k8e2sep4eh6g2p7avd3l79947gku1pjc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.450533182221-k8e2sep4eh6g2p7avd3l79947gku1pjc</string>
	<key>API_KEY</key>
	<string>AIzaSyCc9wh-1FbR0l6XpAF8izKpQPrqf8cqNWE</string>
	<key>GCM_SENDER_ID</key>
	<string>450533182221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.accountingService.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>accounting-service-c1433</string>
	<key>STORAGE_BUCKET</key>
	<string>accounting-service-c1433.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450533182221:ios:29b9c343dfae23c8c43e44</string>
</dict>
</plist>